*DS_Store/
*cache/
.DS_Store
.idea
*.ropeproject*
build/*
*.whl
*.egg-info

*.db
*.log
*.pyc
*.tfrecord*
*.csv
*.tsv
*.gz
*.txt
*.png
*.ipynb_checkpoints*
logs/*
*.pickle

*shard_*.tfrecord
acquired_shard_*
results
runs
zoobot/legacy/embeddings/chollet_128

credentials

.vscode/settings.json

# tensorflow saved data
# *model.ckpt*
# *variables.data*
# *variables.index*
# *.pbtxt*
# *events.out*
# *checkpoint
# *.pb


# old results, not to be tracked
zoobot/illustris/runs
zoobot/old_runs
zoobot/runs


zoobot/tests/test_examples/mnist_fits/*.fits
zoobot/active_learning/*oracle.csv
data/runs/example_run
data/shards/si128_sf64_ss4096
data/2018-11-05_panoptes_predictions_with_catalog
data/fits_native
data/decals/classifications
data/experiments/*.json

zooniverse_login.json
.vscode/settings.json
.vscode/*
notebooks/estimators
notebooks/molly_galaxies
data/experiments/multilabel_64
notebooks/*.parquet

notebooks/estimators
notebooks/molly_galaxies

notebooks/decals_may_test_set_predictions.parquet

data/experiments/*
data/debug
events.out.tfevents.*
data/gz2/shards/*