*DS_Store/
*cache/
.DS_Store
.idea
*.log
*.pyc
*.tfrecord*
*.csv
*.tsv
*model.ckpt*
*variables.data*
*variables.index*
zoobot/illustris/runs
zoobot/old_runs
zoobot/runs
*.pbtxt*
*events.out*
*checkpoint
*.gz
*.txt
*.png
*.ipynb_checkpoints*
!zoobot/test_examples/*
zoobot/tests/test_examples/mnist_fits/*.fits
*.ropeproject*
build/*
*.whl
*.egg-info
*.db
*shard_*.tfrecord
acquired_shard_*
.vscode/*
