*DS_Store/
*cache/
.DS_Store
.idea
*.log
*.pyc
*.tfrecord*
*.csv
*.tsv
*model.ckpt*
*variables.data*
*variables.index*
*saved_model.pb*
*.pbtxt*
*events.out*
*checkpoint
*.gz
*.txt
*.png
*.ipynb_checkpoints*
!zoobot/test_examples/*
*.ropeproject*