coverage
python-coveralls
pytest>=4.6.3
attrs>=19.1.0
pytest-cov
pytest-mock
pytest-xdist
codecov
# tensorflow==2.2.0rc2 # or do manually to avoid messing with other installs on server
tqdm
pillow
numpy
pandas
astropy
scipy
scikit-optimize
matplotlib
seaborn==0.9.0
# note: photutils requires a c compiler. For Mac/xcode, run `xcode-select --install`
photutils
pymc3
python-dateutil==2.8.1  # for boto3
boto3
dvc
gitpython
statsmodels
requests>=2.4.2  # for panoptes-client
panoptes-client
# tensorflow-addons==0.6.0
# tfa-nightly
# also requires personal package shared_astro_utils, pip install -e ../shared-astro-utilities
# also requires personal package gzreduction, pip install -e ../gz-panoptes-reduction
# pip install -r ../gz-panoptes-reduction/requirements.txt
tensorflow-addons  # may not be needed any more