coverage
python-coveralls
pytest-cov
codecov
# tensorflow=1.10
tqdm
pillow
numpy
pandas
astropy
scipy
scikit-optimize
matplotlib
seaborn
# note: photutils requires a c compiler. For Mac/xcode, run `xcode-select --install`
photutils
pylint  # for VS Code convenience only