coverage
python-coveralls
pytest>=4.6.3
attrs>=19.1.0
pytest-cov
pytest-mock
pytest-xdist
codecov
# tensorflow=2.0 No! Don't do here, will confuse EC2 AMI / Image / etc. If local, install manually
tqdm
pillow
numpy
pandas
astropy
scipy
scikit-optimize
matplotlib
seaborn==0.9.0
# note: photutils requires a c compiler. For Mac/xcode, run `xcode-select --install`
photutils
pymc3
boto3
dvc
gitpython
statsmodels
panoptes-client
requests
tensorflow-addons==0.6.0
# also requires personal package shared_astro_utils, pip install -e ../shared-astro-utilities
# also requires personal package gzreduction, pip install -e ../gz-panoptes-reduction
# pip install -r ../gz-panoptes-reduction/requirements.txt