/2018-11-05_panoptes_predictions_with_catalog
/2018-11-05_panoptes_predictions_with_catalog.csv
/fits_native
/panoptes_predictions_selected.csv
/basic_split
/fits_native.tar
/basic_split_gz2
/basic_regression_labels_with_bars.csv